<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.summerly.quiet.netease">

    <application>
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NeteaseAppTheme.TranslucentNavigation" />
        <activity
            android:name=".ui.NeteaseFmActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NeteaseAppTheme.TranslucentNavigation" />
        <activity
            android:name=".ui.NeteaseMainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NeteaseAppTheme.TranslucentNavigation" />
        <activity
            android:name=".ui.NeteaseDailyRecommendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NeteaseAppTheme" />
        <activity
            android:name=".ui.NeteasePlaylistDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NeteaseAppTheme" />
        <activity android:name=".ui.MusicPlayerActivity" />
    </application>

</manifest>