<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tech.soit.quiet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">

        <activity
            android:name=".ui.activity.main.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.main.AppMainActivity"
            android:theme="@style/AppTheme.ColoredNavigationBar" />

        <activity
            android:name=".ui.activity.local.LocalMusicActivity"
            android:theme="@style/AppTheme.ColoredNavigationBar" />

        <activity
            android:name=".ui.activity.local.LocalMusicListActivity"
            android:theme="@style/AppTheme.ColoredNavigationBar" />

        <activity
            android:name=".ui.activity.local.LocalScannerActivity"
            android:theme="@style/AppTheme.ColoredNavigationBar" />

        <activity
            android:name=".ui.activity.MusicPlayerActivity"
            android:theme="@style/AppTheme" />

        <activity android:name=".ui.activity.user.LoginActivity" />

        <activity
            android:name=".ui.activity.cloud.CloudPlayListDetailActivity"
            android:theme="@style/AppTheme.ColoredNavigationBar" />

        <activity
            android:name=".ui.activity.cloud.CloudDailyRecommendActivity"
            android:theme="@style/AppTheme.ColoredNavigationBar" />

        <activity
            android:name=".ui.activity.cloud.TopDetailActivity"
            android:theme="@style/AppTheme.ColoredNavigationBar" />

        <activity
            android:name=".ui.activity.LatestPlayListActivity"
            android:theme="@style/AppTheme.ColoredNavigationBar" />

        <service android:name=".ui.service.QuietPlayerService" />

        <activity android:name=".ui.service.NotificationRouterActivity" />

    </application>

</manifest>